body{
  background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.1)), url("./bhole.png");
  background-size: cover;
}

#root {
  height: 100%;
  width: 100%;
  z-index: 1
}

#canvasWrapper {
  position: center;
  padding-left: 50px;
}

#canvas {
  position: relative;
  width: 505px;
  height: 605px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}
.canvas-button {
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
}

#TMS {
  padding-left: 50px;
  padding-right: 50px;
}
